.formulario {
    display: flex;
    justify-content: center;
    margin: px 0;
}

.formulario {
    max-width: 100%;
    background-color: #e6e309;
    border-radius: 10px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}